<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weekday Warrior</title>
  </head>

  <body>
    <h1>Hey, it's <%= dayType %>, <%= advice %>!</h1>
  </body>
</html>

<!-- Il testo "%= dayType %>" e "%= advice %>" sono segnaposto EJS, 
che verranno sostituiti dinamicamente dal server con il tipo di giorno e il consiglio appropriati.

In sintesi, questo codice HTML definisce una pagina web semplice con un titolo e un titolo di livello 1 
che mostra il tipo di giorno e il consiglio dinamico ottenuti dal server utilizzando 
il motore di visualizzazione EJS. 
La pagina sarà visualizzata come "Hey, it's [tipo di giorno], [consiglio]!" 
con i dati corretti ottenuti dal server. -->
